<div class="widget widget-osv-discount">
    <span style="display: inline-block; padding: 5px 10px; background: #cc0000; color: #fff; font-weight: bold; border-radius: 4px;">
        TEST OK
    </span>
</div>
